---
const { titulo = "Hola Siete Ranas Verdes" } = Astro.props;
---

<section class="grid min-h-[40vh] place-items-center">
  <h1 class="text-4xl font-bold text-green-700">{titulo}</h1>
  <p class="text-gray-600">IntelliSense de Tailwind funcionando ✅</p>
</section>
